@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500&display=swap");

html {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 246, 250, var(--tw-bg-opacity));
  font-family: "Roboto", sans-serif;
}

.label {
  top: 0%;
  transform: translateY(-50%);
  font-size: 14px;
}

.text-emote-1 {
  --tw-text-opacity: 1;
  color: rgba(241, 91, 91, var(--tw-text-opacity));
}

.text-emote-2 {
  --tw-text-opacity: 1;
  color: rgba(255, 129, 5, var(--tw-text-opacity));
}

.text-emote-3 {
  --tw-text-opacity: 1;
  color: rgba(241, 172, 91, var(--tw-text-opacity));
}

.text-emote-4 {
  --tw-text-opacity: 1;
  color: rgba(135, 189, 16, var(--tw-text-opacity));
}

.text-emote-5 {
  --tw-text-opacity: 1;
  color: rgba(77, 132, 75, var(--tw-text-opacity));
}
