@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500&display=swap");

html {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 246, 250, var(--tw-bg-opacity));
  font-family: "Roboto", sans-serif;
}

.label {
  top: 0%;
  transform: translateY(-50%);
  font-size: 14px;
}

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden; /* prevents background page from scrolling when the modal is open */
}

.ReactModal__Content::-webkit-scrollbar {
  display: none
}
